@model GrindStone.Models.CustomWorkOrderForJob

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomWorkOrderForJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jobs.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jobs.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionTitle9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionTitle9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description9)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
