@model GrindStone.Models.CustomTemplates

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomTemplates</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TemplateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
